body {
    font-family: "Kumbh Sans", sans-serif;
    background-color: #222;
    color: #fff;
    padding-bottom: 100px;
}

:root {
    --grey: #b9b9b9;
    --yellow: rgb(255, 237, 43);
}

label {
    font-size: 1.25rem;
    font-weight: 500;
}

main,
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    margin: 1.5em 0 .25em;
    font-size: 4rem;
}

h1,
label {
    margin-bottom: 1em;
}

.container {
    background-color: #fff;
    color: #222;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

button {
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

form label,
form input,
form button {
    display: block;
}

#btn-search {
    font-weight: bold;
    padding: .75em 2.75em;
    margin: 2em auto 0;
    background-color: var(--grey);
}

.btn-arrow {
    background-color: var(--yellow);
    color: #222;
    width: 110px;
    font-size: .85rem;
    padding: .5em .5em;
    margin: 0 .35em;
}

form {
    width: 100%;
    text-align: center;
}

input {
    width: 90%;
    padding: .75em;
    margin: 0 auto;
    border: 1px solid var(--grey);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(205, 205, 205);
}

input:hover,
input:focus {
    outline: none;
    box-shadow: 0 4px 10px rgb(205, 205, 205);
}

#btn-search:hover,
#btn-search:focus {
    font-weight: bolder;
    color: #fff;
    background-color: rgb(106, 106, 106);
}

.hidden {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    pointer-events: none;
}

.container div.profile-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.container div.profile-data div.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1em;
}

.container div.profile-data div.info img {
    width: 50%;
    border-radius: 50%;
    border: 10px solid var(--yellow);
    margin-bottom: 1.25em;
}

.container div.profile-data div.info div.data h2,
.container div.profile-data div.info div.data p {
    text-align: center;
    margin-bottom: .5em;
}

.container div.repositories {
    width: 100%;
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
}

.container div.repositories h2,
.container div.repositories p.repo-counter,
.container div.repositories div.carousel,
.container div.repositories div.carousel img,
.container div.repositories div.carousel h3 {
    margin-bottom: 1em;
}

#repo-link {
    color: #fff;
    text-decoration: underline;
}

.container div.repositories div.carousel img {
    width: 100%;
}

.container div.repositories div.repo-btn-container {
    display: flex;
    justify-content: space-around;
}

.container div.repositories button.btn-arrow:hover,
.container div.repositories button.btn-arrow:focus {
    font-weight: bolder;
    background-color: rgb(255, 175, 3);
}

.image-loader {
    height: 318.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    box-sizing: border-box;
    width: 15%;
    aspect-ratio: 1/1;
    min-width: 100px;
    border: 20px solid #f3f3f3;
    border-top: 1em solid purple;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 500px) {
    #btn-search {
        padding: 1em 3em;
    }

    .container div.repositories button.btn-arrow {
        width: 150px;
        font-size: 1rem;
    }
}